{% extends 'polls/base.html' %}
{% block title %}CMDB{% endblock %}
{% block content %}
{% if host_list %}
<div class="table-responsive ">
    <table width="700" border="0.5" cellpadding="5" class="table table-hover">
        <tr class="active">
            <th width="80">主机名</th>
            <th width="80">IP01</th>
            <th width="80">IP02</th>
            <th width="80">VIP</th>
            <th width="80">说明</th>
        </tr>
    </table>
    {% for host in host_list %}
    <table width="700" border="0.5" cellpadding="5" class="table table-hover">
        <td class="success" width="80"><a href="/polls/{{ host.id }}/">{{ host.hostname }} </a></td>
        <td class="success" width="80">{{ host.ipaddress01 }}</td>
        <td class="success" width="80">{{ host.ipaddress02 }}</td>
        <td class="success" width="80">{{ host.vip }}</td>
        <td class="success" width="80">{{ host.remark }}</td>

    </table>
    {% endfor %}
</div>
{% else %}
<p>No polls are available.</p>
{% endif %}
{% endblock %}
