{% extends 'polls/base.html' %}
{% block title %}CMDB{% endblock %}
{% block content %}
{% if host_list %}
<div class="table-responsive ">
    <table width="700" border="0.5" cellpadding="5" class="table table-hover">
        <tr class="active">
            <th width="80">主机名</th>
            <th width="80">IP01</th>
            <th width="80">IP02</th>
            <th width="80">VIP</th>
            <th width="80">说明</th>
        </tr>
    </table>
    {% for host in host_list %}
    <table width="700" border="0.5" cellpadding="5" class="table table-hover">
        <td class="success" width="80"><a href="/polls/{{ host.id }}/">{{ host.hostname }} </a></td>
        <td class="success" width="80">{{ host.ipaddress01 }}</td>
        <td class="success" width="80">{{ host.ipaddress02 }}</td>
        <td class="success" width="80">{{ host.vip }}</td>
        <td class="success" width="80">{{ host.remark }}</td>

    </table>
    {% endfor %}
</div>
{% else %}
<p>No polls are available.</p>
{% endif %}


<div class="pagination">
<nav>
    <ul class="pager">
    <span  class="label label-info" >
        {% if host_list.has_previous %}
        <li>
            <a href="?page={{ host_list.previous_page_number }}">上一页</a>
        </li>
        {% endif %}

        <span >
            <li >Page {{ host_list.number }} of {{ host_list.paginator.num_pages }}</li>
        </span>

        {% if host_list.has_next %}
        <li>
            <a href="?page={{ host_list.next_page_number }}">下一页</a>
        </li>
        {% endif %}
    </span>
    </ul>
</nav>
</div>

{% endblock %}
