{% extends 'polls/base.html' %}
{% block title %}CMDB{% endblock %}
{% block content %}
<p>{{ results }}</p>
{% if result_list %}
<div class="table-responsive ">
    <table width="700" border="0.5" cellpadding="5" class="table table-hover">
        <tr class="active">
            <th width="80">主机名</th>
            <th width="80">IP01</th>
            <th width="80">IP02</th>
            <th width="80">VIP</th>
            <th width="80">说明</th>
        </tr>
    </table>
    {% for host in result_list %}
    <table width="700" border="0.5" cellpadding="5" class="table table-hover">
        <td class="success" width="80">{{ host.hostname }}</td>
        <td class="success" width="80">{{ host.ipaddress01 }}</td>
        <td class="success" width="80">{{ host.ipaddress02 }}</td>
        <td class="success" width="80">{{ host.vip }}</td>
        <td class="success" width="80">{{ host.remark }}</td>
    </table>
    {% endfor %}
</div>
{% endif %}

<div class="pagination">
<nav>
    <ul class="pager">
    <span  class="label label-info" >
        {% if result_list.has_previous %}
        <li>
            <a href="?page={{ result_list.previous_page_number }}&name={{name}}">上一页</a>
        </li>
        {% endif %}

        <span >
            <li >Page {{ result_list.number }} of {{ result_list.paginator.num_pages }}.</li>
        </span>

        {% if result_list.has_next %}
        <li>
            <a href="?page={{ result_list.next_page_number }}&name={{name}}">下一页</a>
        </li>
        {% endif %}
    </span>
    </ul>
</nav>
</div>
{% endblock %}
